<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }

      #eggintro{
        position:absolute;
        top:25%;
        right:43%;
        z-index:2;
      }

       #mamufas{
        position:absolute;
        width:2000px;
        height:2000px;
        background:#000;
        opacity: 0.5;
        top:0;
        right:0;
        z-index:1;
      }
    </style>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>       
    
<link href="/stylesheets/cartodb-gmapsv3.css" rel="stylesheet" type="text/css">
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />          
<script type="text/javascript" src="/javascripts/wax.g.min.js"></script>
<script type="text/javascript" src="/javascripts/cartodb-gmapsv3-min.js"></script>

    <script type="text/javascript">

      $(document).ready(function() {
        $('#eggintro').click(function(){
          $(this).fadeOut('fast');
          $('#mamufas').fadeOut('fast');
        })
      });

      var map;
      var directionDisplay;
      var directionsService = new google.maps.DirectionsService();      



      function init(){

        var styles=[
          {
            "stylers": [
              { "saturation": -50 },
              { "lightness": 30 }
            ]
          }
        ];
      
        var mapOptions = {
          center: new google.maps.LatLng(54.35413531021057, -2.5125),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: styles        
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);  

        directionsDisplay = new google.maps.DirectionsRenderer();    
        directionsDisplay.setMap(map);

        var cartodb_gmapsv3 = new CartoDBLayer({
          map: map,
          user_name:'eggsellence',
          table_name: 'eggs',
          query: "SELECT * FROM {{table_name}}",
          layer_order: "top",
          //tile_style: "#{{table_name}}{marker-fill:red}",
          interactivity: "cartodb_id, address",
          featureClick: function(feature, latlng, pos, data) {console.log(feature)},
          featureOut: function() {},
          featureOver: function(feature, latlng, pos, data) {},          
        });

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(success, error);
        } else {
          error('not supported');
        }
      }

      function success(position) {       
        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);       
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"You are here!"
        });

        // get the closest egg from CartoDB
        var sql = "https://eggsellence.cartodb.com/api/v1/sql?q=select%20ST_x(the_geom)%20as%20x,ST_y(the_geom)%20as%20y%20from%20eggs%20ORDER%20BY%20the_geom%20%3C-%3E%20st_setsrid(st_makepoint(" + position.coords.longitude + "," + position.coords.latitude + "),4326)%20LIMIT%201"
        $.getJSON(sql, function(data) {
          var nearestegg = data.rows[0];

          // google directions routing to it
          var start = latlng;
          var end = new google.maps.LatLng(nearestegg.y, nearestegg.x);       
          var request = {
              origin:start,
              destination:end,
              travelMode: google.maps.DirectionsTravelMode.WALKING
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
            }
          });          
        });




        // set the bounds to match the google route....

      }
       
      function error(msg) {
        alert("sorry, we can't geolocate you.... :(");
      }
 




    </script>

  </head>

  <body onload="init()">
    
    <img src="/img/brown-egg.jpeg" id="eggintro">
    <div id="mamufas">&nbsp;</div>
    <div id="map_canvas"></div>
  </body>  
</html>